<!DOCTYPE html>
<html>
  <head>
   <meta name='viewport' content='width=device-width initial-scale=1' >
  <style>
  body {
    margin: 0;
    font-family: Aerial,Helvetica,sans-serif;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .topnav a{
    float: left;
    text-align: center;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
</style>
</head>

  <body>
<div class='topnav'>
<a href="<%= home_wowgrams_path %>">HOME</a>
<a href="<%= wowgrams_path %>">My Posts</a>
<a href="<%= allpost_wowgrams_path %>">All wowgrams</a>
<a href="<%= new_wowgram_path %>">New Wowgram</a>
<%= link_to 'Logout', destroy_user_session_path,:method=>:delete %>
</div>
  </body>
</html>
